
@media (min-width: 640px) { /* BIGGER PHONE SMALL TABLET*/
/* @media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } */

  div{
    margin: auto;
    width: 80%;
  }

  nav{
    margin-top: 1%;
  }

  .header-image{
    width: 100%;
    height: 250%;
  }

  .home-icon{
    border-bottom-left-radius: 400%;
    border-bottom-right-radius: 400%;
    border-top-left-radius: 400%;
    border-top-right-radius: 400%;
    margin-left: 0px;
    width: 7%;
    height: 7%;
  }

  a{
    text-decoration: none;
    color: white;
  }
  .home-page-image{
    margin-left: 2%;
    width: 95%;
    height: 95%;
    margin-bottom: 1px;
  }

  .started{
    width: 80%;
    height: 80%;
    margin-left: 90px;
  }

  .uber-eats {
  padding-left: 40%;
  font-size: 250%;
  }

  li{
    vertical-align: 40px;
    display: inline-block;
    list-style: none;
    margin-right: 2%;
    margin-left: 2%;
  }

  header{
    font-size: 150%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
    color: white;
            /* -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; */
  }

  h1{
    font-family: 'Tangerine', cursive;
    font-weight: 800;
    font-size: 600%;
    text-align: center;
    margin: 1%;
  }

  h2{
    text-align: center;
  }

  h4{
    font-size: 200%;
    text-align: center;
    margin: 1%;
  }

  body{
    background-color: tan;
  }

  p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 28%;
  }

  .gifts-image{
    margin-left: 35%;
  }

  footer{
    float: none;
    background-color: sienna;
  }

}

/* BIG TABLET/ SMALL LAPTOP SIZED MEDIA QUERY */
@media (min-width:960px) {
  body {
    font-size:1.2rem;
  }

   .home-page-image{
    margin-left: 2%;
    width: 85%;
    height: 85%;
    margin-bottom: 1px;
  }
}

/* LATOP AND DESKTOP VIEW */
 @media (min-width:1100px) {
   .home-page-image{
    float: right; 
    margin-left: 2%;
    width: 65%;
    height: 65%;
    margin-bottom: 1px;
  }

  .uber-eats {
  padding-left: 40%;
  font-size: 250%;
  }

  #menu-photos {
    width: 80%;
    height: 450px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
  }

  #menu-photos>img{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #menu-photos>.btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: black;
    color: white;
    font-size: 20px;

  }

  #menu-photos>#btn2{
    position: relative;
    float: right;
  }
}

/*CELL PHONE VIEW */
@media (max-width: 640px) {
  div{
    margin: auto;
    width: 80%;
  }

  nav{
    margin-top: 1%;
  }

  .header-image{
    width: 100%;
    height: 250%;
  }

    .uber-eats {
  padding-left: 40%;
 
font-size: 250%;}

  .home-page-image{
    float: right;
    margin-left: 2%;
    width: 45%;
    height: 45%;
    margin-bottom: 1px;
  }

   .home-icon{
    border-bottom-left-radius: 400%;
    border-bottom-right-radius: 400%;
    border-top-left-radius: 400%;
    border-top-right-radius: 400%;
    margin-left: 0px;
    width: 7%;
    height: 7%;

  }

  nav{
    width: 120%;
  }

  .first-list{
    margin-left: 0%;
    padding-left: 0%;
  }

  .last-list{
    margin-right: 50px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  li{
    vertical-align: 30px;
    display: inline-block;
    list-style: none;
    margin-right: 2%;
    margin-left: 2%;
  }

  header{
    font-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
    color: white;
            /* -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; */
  }

  h1{
    /* font-size: 100%; */
    font-family: 'Tangerine', cursive;
    font-weight: 700px;
    text-align: center;
    margin: 1%;
  }

  h4{
    /* font-size: 300%; */
    text-align: center;
    margin: 1%;
  }

  body{
    background-color: tan;
  }

  p{
    font-size: 14px;
    margin-bottom: 28%;
  }

  footer{
    float: none;
    background-color: sienna;
  }
}